.panel.panel-card {
	padding: 0;
	float: left;
	min-width: 200px;
}

.panel.panel-card > .panel-footer {
	padding: 0 10px;
	height: 1.7em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.panel.panel-card .list-divider {
	margin: 5px 0;
}


/* ---- grid ---- */

.grid {

}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- grid-item ---- */

.grid-sizer {
	width:20%;
}

.grid-item--width1 {
	width: 20%;
}

.grid-item--width2 {
	width: 40%;
}

.grid-item--width3 {
	width: 60%;
}

.grid-item--height2 {
	height: 200px;
}

.grid-item--height3 {
	height: 260px;
}

.grid-item--height4 {
	height: 360px;
}
