.panel.panel-dictionary {
	margin: 0px;
	box-shadow: none;
}

.panel.panel-dictionary .panel-heading {
	height: auto;
}

.panel.panel-dictionary .panel-title {
	font-size: 1em;
	padding: 5px 15px 5px 15px;
	line-height: normal;
	background-color: #fafafa;
	border-color: #d1d9de;
	color: #000;
}

.panel.panel-dictionary .panel-body {

}

.panel.panel-dictionary-summary {

}

.panel.panel-dictionary-summary .panel-heading {
}

.panel.panel-dictionary-summary > .panel-heading > .panel-title {

}

.panel.panel-dictionary-summary > .panel-body {
}