.crown {
	background-image: url('../img/crown.png');
	width: 218px;
	position: relative;
	top: 35px;
	height: 80px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}