.panel.panel-attribute {
	margin-bottom: 5px;
}

.panel.panel-attribute > .panel-heading {
	height: auto;
	background-color: #fafafa;
	border-color: white;
}

.panel.panel-attribute > .panel-heading > .panel-title {
	line-height: 2em;
	background-color: #fafafa;
	border-color: #d1d9de;
	color: #000000;
}

.panel.panel-attribute > .panel-body {
	padding: 0;
}

.panel.panel-attribute > .panel-heading > .panel-control {
}

.attribute-dropdown {
	color: #726e6e;
}