.min-btn {
	width: 20px;
}

#sigma-container, #tree-container {
	top: 0;
	bottom: 0;
	left: 520px;
	right: 0;
	position: fixed;

}

#tree-container.max {
	left:0px;
}

#controls-block {
	float: left;
	top: 0;
	left: 0;
	position: relative;
	z-index: 100;
}

#controls-block.min {
	display: none;
}

div.vis-configuration-wrapper {
	width: 520px !important;
	background: transparent !important;
}


#toggle-controls {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 40px;
	display: block;
}

#control-pane {
	/*top: 10px;*/
	bottom: 10px;
	left: 10px;
	position: fixed;
	width: 230px;
	background-color: rgb(249, 247, 237);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#control-pane.min {
	height: 40px;
	width: 60px;
}

#control-pane.min .panel-body {
	padding: 15px 5px 0px 5px;
}

#control-pane.min label, #control-pane.min .panel-footer {
	display: none;
}


/*#control-pane > div {*/
/*margin: 10px;*/
/*overflow-x: auto;*/
/*}*/


.hidden {
	display: none;
	visibility: hidden;
}