.panel-score {
	margin: 0px;
	border: none;
	box-shadow: none;
}

.panel-score .panel-heading {
	height: auto;
}

.panel-score .panel-title {
	font-size: 1em;
	padding: 0 5px;
	line-height: normal;
	background-color: #fafafa;
	border-color: #d1d9de;
	color: #758697;
}

.panel-score .panel-body {
	padding: 0 5px;
}

.panel-score-summary {
	margin: 0px;
	border: none;

}

.panel-score-summary .panel-heading {
	height: auto;
}

.panel-score-summary > .panel-heading > .panel-title {
	line-height: 26px;
	background-color: #00b3ca;
	border-color: #00bcd4;
	color: #fff;

}

.panel-score-summary > .panel-body {
	padding: 0px;
}