.panel.user {
	min-height: 75px;
	padding: 3px 5px 2px 0px;
}

.crown {
	background-image: url('../img/crown.png');
	position: relative;
	background-size: contain;
	background-position: center 0;
	background-repeat: no-repeat;
	margin-top: -14px;
	width: 60px;
	padding-top: 30px;
	padding-bottom: 16px;
}

.avatar {
	position: relative;
	width: 60px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.img-border-current {
	box-shadow: 0 0 0 4px rgba(59, 158, 59, 0.21);
}