.badge-target {
	display: block !important;
	/*width: 250px;*/
	white-space: break-spaces !important;
	margin: 3px;
}

.badge-target-mirrors {
	display: block;
	margin: 8px -4px 2px -4px;
	text-align: left;
	background: beige;
	border-radius: 0px 0px 10px 10px;
	padding: 5px;
	/*white-space: pre;*/
}