.min-btn {
	width: 20px;
}

#tree-container {
	top: 0px;
	bottom: 0;
	left: 0px;
	right: 0;
	position: fixed;
	background: #fbf3e7;
}

#tree-container.max {
	left: 0px;
}

#controls-block {
	z-index: 1;
}

#controls-block.min {
	display: none;
}

div.vis-configuration-wrapper {
	width: 520px !important;
	background: transparent !important;
}

#page-content {
	padding: 0 !important; /*disable padding for this page*/
}


#control-pane {
	/*top: 10px;*/
	bottom: 10px;
	left: 10px;
	position: fixed;
	width: 230px;
	background-color: rgb(249, 247, 237);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#control-pane.min {
	height: 40px;
	width: 60px;
}

#control-pane.min .panel-body {
	padding: 15px 5px 0px 5px;
}

#control-pane.min label, #control-pane.min .panel-footer {
	display: none;
}


.hidden {
	display: none;
	visibility: hidden;
}