.start {
	background-image: url('../img/hamburger.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.navbar-content {
	margin-left: 40px;
	background-color: transparent;
}

.navbar-top-links:last-child > li {
	border: none;
}

.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus, .navbar-top-links > li > a:hover {
	background-color: transparent;
}

.navbar-top-links > li > a {
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	height: 40px;
	color: #758697;
	transition: all .4s;
}

.navbar-brand {
	background-color: transparent;
	color: #fff;
	padding: 0;
	height: 40px;
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: auto;;
}

.navbar-header:before {
	content: none;
}

.mega-dropdown-menu {
	min-width: 768px;
}

.open.mega-dropdown > .mega-dropdown-toggle:before, .open.mega-dropdown > .mega-dropdown-toggle:after {
	content: none;
	border: none;
	display: none;
}

.breadcrumb {
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 0px;
	padding: 0 15px;
	float: left;
	line-height: 40px;
}