input[type=radio] + label.button {/*Стиль дефолтной псевдокнопки*/
	cursor: pointer;
	background-color: transparent;
	color: inherit;
	padding: 6px 12px;
	border-radius: 0;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px solid transparent;
	border-color: rgba(0,0,0,0.09);
	font-size: 13px;
	line-height: 1.42857;
	vertical-align: middle;
	transition: all .25s;
	float:left;
	touch-action: manipulation;
}

input[type=radio] + label.button:focus, input[type=radio] + label.button:hover {/*Стиль псевдокнопки при наведении*/
	/*color: #fff;*/
	background-color: rgba(170, 160, 171, 0.1);
	border-color: #1b6d85;
}

input[type=radio]:checked + label.button {/*Стиль утопленной псевдокнопки*/
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}