.panel.panel-card {
	padding: 0;
	float: left;
	width: 20%; /*by default*/
	min-width: 200px;
}

.panel.panel-card[data-subitems="1"] {
	width: 100%;
}

.panel.panel-card > .panel-heading {
	padding: 0 10px;
}

.panel.panel-card > .panel-heading > .panel-title, .panel.panel-card > .panel-heading > .panel-control {
	padding: 0px;
}

.panel > .panel-heading > .row * .panel-control {
	line-height: 50px;
}

.panel.panel-card-small {
	float: left;
	margin-bottom: 5px;
	padding: 0 5px;
	/*width: 33%;*/
}

.panel.panel-card-small.expanded {
	width:100%;
}

.panel.panel-card-small > .panel-heading {
	height: 30px;
}

.panel.panel-card-small > .panel-heading > .panel-control button {
	padding: 0;
}

.panel.panel-card-small > .panel-heading > .panel-control {
	padding: 0 5px;
}

.panel.panel-card-small .panel-title {
	line-height: 30px;
	font-size: 12px;
	padding: 0 5px;
}

.panel.panel-card-small > .panel-body {
	padding: 5px 5px 5px;
}

.panel.panel-card > .panel-body {
	padding: 5px 10px 5px;
}

.panel.panel-card > .panel-footer, .panel.panel-card-small > .panel-footer {
	padding: 0 5px;
	height: 1.7em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.panel.panel-card .list-divider {
	margin: 5px 0;
}

.row.child-groups {
	background: rgba(144, 135, 145, 0.23);
	padding-top: 5px;
	border-radius: 5px;
}

.auto-height {
	height: auto !important;
}

.badge.badge-unimportant {
	background-color: #7776;
}

/* ---- grid ---- */

.grid {
	width: 100% !important;
}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- grid-item ---- */

.grid-sizer {
	width: 20%;
}

.grid-item--width1 {
	width: 20%;
}

.grid-item--width2 {
	width: 40%;
}

.grid-item--width3 {
	width: 60%;
}

.grid-item--height2 {
	height: 200px;
}

.grid-item--height3 {
	height: 260px;
}

.grid-item--height4 {
	height: 360px;
}

.btn.btn-xxs {
	padding: 0;
}